body{
    background-image: url("/Users/ceciliaclohisy/Documents/homework/TriviaGame-/assets/images/green-trees-background-28.jpeg")
}
.btn,{
    background-color: darkgreen;

}

.card{
    background-color: cadetblue;
    color: lightcyan;
}


